<div -class="item">







<h2 class="recipetitle"><span class="fn" itemprop="name">Sopa de peix</span></h2>





<div style="font-size: small;">
<p>
Categoria: 
<span class="category">
<img src="/pics/sopes_i_cremes.png" class="categoryIco" alt=""> 
<a href="/cat/Sopes i cremes" rel="tag" itemprop="recipeType">Sopes i cremes</a>
</span>
<br>



Origen: Suïssa<br>

<span class="seasons">Estació: <a href="/estacio/primavera" rel="tag"><img src="/icons/season_spring.png" alt="" class="bullet"> primavera</a> &nbsp; <a href="/estacio/estiu" rel="tag"><img src="/icons/season_summer.png" alt="" class="bullet"> estiu</a> &nbsp; <a href="/estacio/tardor" rel="tag"><img src="/icons/season_autumn.png" alt="" class="bullet"> tardor</a> &nbsp; <a href="/estacio/hivern" rel="tag"><img src="/icons/season_winter.png" alt="" class="bullet"> hivern</a> &nbsp; </span><br>

Dificultat: <a href="/dificultat/facil">Fàcil</a><br>


</p><div class="xxxxxx" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
Valoració: 
<img src="/images/star.gif" alt="*"><img src="/images/star.gif" alt="*"><img src="/images/star.gif" alt="*"><span class="review hreview-aggregate">
  <span class="rating">
  	<span class="average">3</span>/5
 
  (<span class="count">1</span> valoracions)
  </span>
</span>
<meta itemprop="ratingValue" content="3"><meta itemprop="bestRating" content="5"><meta itemprop="worstRating" content="0"><meta itemprop="ratingCount" content="1">
<a href="/rate.php?id=8448" -class="btn" class="ltbtn"><img src="/icons/add.gif" alt="" title="Afegir valoració" style="vertical-align:top;"> Afegir valoració</a>
</div>

</div>

<h3 class="h">Ingredients</h3>

<ul class="ingredientslist">
	<li class="ingredient">Dona al voltant d'1 litre i ½ de sopa</li>	<li class="ingredient">1 cullerada de mantega</li>	<li class="ingredient">100 g de porro, tallat a tires fines</li>	<li class="ingredient">1 ceba, finament picada</li>	<li class="ingredient">1 gra d'all, finament picat</li>	<li class="ingredient">2 tomàquets, pelats, trossejats, sense les llavors</li>	<li class="ingredient">3 pastanagues a tires</li>	<li class="ingredient">1 peça d'api a tires</li>	<li class="ingredient">4 dl de vi blanc sec</li>	<li class="ingredient">2 dl d’aigua</li>	<li class="ingredient">1 cullerada de julivert, finament picat</li>	<li class="ingredient">1 culleradeta de suc de llimona</li>	<li class="ingredient">1 fulla de llorer</li>	<li class="ingredient">1 culleradeta de sal</li>	<li class="ingredient">Una mica de pebre</li>	<li class="ingredient">600 g de filets de peix, eventualment sense la pell</li>	<li class="ingredient">1 cullerada de mantega</li>	<li class="ingredient">1 cullerada de farina blanca</li>	<li class="ingredient">2 dl de crema</li></ul>

<p><img src="/icons/servings.png" alt="" class="bullet"> <span class="yield" itemprop="yield">4 <abbr title="Persones o unitats">racions</abbr></span></p>


<h3 class="h">Elaboració</h3>

<div class="instructions" itemprop="instructions">
<p class="directions">Preescalfa el forn a 60 graus,<br>
Preescalfa la sopera i els plats per sopa<br>
Calenta la mantega i cou a foc lent l’all, el porro i la ceba, en quant s’hagi evaporat el líquid afegeix els tomàquets, la pastanaga i l'api, agrega la resta d'ingredients, la fulla de llorer, les especies i redueix el foc, tapa i cou a foc lent aproximadament uns 10 minuts<br>
Talla els filets de peix en trossos iguals, afegeix a la cassola i cou uns 2 minuts sense que l’aigua bulli.<br>
Amb una escumadora, retira el peix i les verdures, escorre bé i retira la fulla de llorer. Tapa i reserva en un lloc calent.<br>
Barreja bé la mantega i la farina, bull la sopa i redueix el foc afegeix petites porcions de mantega remenant amb un batedor, i cuina a foc lent durant uns 10 minuts. Agrega la crema, porta a ebullició i aboca a la sopera, afegeix de nou el peix i les verdures, i serveix de seguida<br>
</p>
</div>




<div id="authorship">
<p>Per <a href="/chef2225/joan_corminas" class="author" -rel="author" itemprop="author">Joan Corminas</a></p>
</div>

</div>